<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Item Form</title>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div th:replace="layout/header::header"></div>
<div class="container">
    <div class="page-header">
        <h2>할 일 추가</h2>
    </div>
    <br/>
    <input id="item_id" type="hidden" th:value="${item?.id}"/>
    <table class="table">
        <tr>
            <th style="padding:13px 0 0 15px">우선순위 설정</th>
            <td>
                <div class="pull-left">
                    <select class="form-control input-sm" id="item_priority">
                        <option>---우선순위---</option>
                        <option th:value="high" th:selected="${item?.priority?.name() == 'high'}">높음</option>
                        <option th:value="mid" th:selected="${item?.priority?.name() == 'mid'}">중간</option>
                        <option th:value="low" th:selected="${item?.priority?.name() == 'low'}">낮음</option>
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <th style="padding:13px 0 0 15px">완료 여부</th>
            <td>
                <div class="pull-left">
                    <input type="text" class="form-control input-sm" id="item_finished"
                        readonly="readonly" th:value="${item.finished} ? '완료' : '미완'"/>
                </div>
            </td>
        </tr>
        <tr>
            <th style="padding:13px 0 0 15px;">제목</th>
            <td><input id="item_title" type="text" class="col-md-1 form-control input-sm"
                       th:value="${item?.title}"></td>
        </tr>
        <tr>
            <th style="padding:13px 0 0 15px;">내용</th>
            <td><textarea id="item_content" class="col-md-1 form-control input-sm" maxlength="140" rows="7"
                          style="height: 200px;"
                          th:text="${item?.content}"></textarea><span class="help-block"></span>
            </td>
        </tr>
        <tr>
            <th style="padding:13px 0 0 15px;">마감기한 (optional)</th>
            <td><input id="item_deadline" type="text" class="col-md-1 form-control input-sm"
                       th:value="${item?.deadline}"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>
    <div class="pull-left">
        <a href="/item/list" class="btn btn-default">할 일 목록으로</a>
    </div>
    <div class="pull-right">
        <button th:if="!${item?.id}" type="button" class="btn btn-primary"
                id="insert">저장</button>
        <button th:if="${item?.id != null and item?.finished == 0}" type="button" class="btn btn-success"
                id="finish">완료</button>
        <button th:if="${item?.id != null and item?.finished == 0}" type="button" class="btn btn-info"
                id="update">수정</button>
        <button th:if="${item?.id}" type="button" class="btn btn-danger"
                id="delete">삭제</button>
    </div>
</div>

<script th:src="@{js/jquery.min.js}"></script>
<script th:if="!${item?.id}">
        $('#insert').click(function() {
            var jsonData = JSON.stringify({
                title: $('#item_title').val(),
                content: $('#item_content').val(),
                priority: $('#item_priority option:selected').val(),
                deadline: $('#item_deadline').val()
             });
             $.ajax({
                url: "http://localhost:8081/api/items",
                type: "POST",
                data: jsonData,
                contentType: "application/json",
                dataType: "json",
                success: function() {
                    alert('추가 성공!');
                    location.href = '/item/list';
                },
                error: function() {
                    alert('추가 실패!');
                }
             });
        });
</script>
<script th:if="${item?.id}">
        $('#update').click(function() {
            var jsonData = JSON.stringify({
                title: $('#item_title').val(),
                content: $('#item_content').val(),
                priority: $('#item_priority option:selected').val(),
                deadline: $('#item_deadline').val(),
                finished: 0
             });
             $.ajax({
                url: "http://localhost:8081/api/items/" + $('#item_id').val(),
                type: "PUT",
                data: jsonData,
                contentType: "application/json",
                dataType: "json",
                success: function() {
                    alert('수정 성공!');
                    location.href = '/item/list';
                },
                error: function() {
                    alert('수정 실패!');
                }
             });
        });
        $('#finish').click(function() {
            var jsonData = JSON.stringify({
                title: $('#item_title').val(),
                content: $('#item_content').val(),
                priority: $('#item_priority option:selected').val(),
                deadline: $('#item_deadline').val(),
                finished: 1
             });
             $.ajax({
                url: "http://localhost:8081/api/items/" + $('#item_id').val(),
                type: "PUT",
                data: jsonData,
                contentType: "application/json",
                dataType: "json",
                success: function() {
                    alert('완료 성공!');
                    location.href = '/item/list';
                },
                error: function() {
                    alert('완료 실패!');
                }
             });
        });
        $('#delete').click(function() {
            $.ajax({
                url: "http://localhost:8081/api/items/" + $('#item_id').val(),
                type: "DELETE",
                success: function() {
                    alert('삭제 성공!');
                    location.href = 'item/list';
                },
                error: function() {
                    alert('삭제 실패!');
                }
            });
        });
</script>
<script>

</script>
</body>
</html>