<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!--header-->
    <div th:fragment="header">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="/item/list" class="navbar-brand" style="text-decoration:none;">
                        <img th:src="@{/image/winter_coding.png}" class="img-rounded" style="display:inline-block;height:100%;margin-right:5px" />
                        <span style="vertical-align:middle;">Programmers Todo - list 구현</span>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</html>